openapi: 3.2.0
info:
  title: Custom Objects and Fields Standard Fields API
  description: Skedulo Custom Object and Field API. Note that the terms 'object' and 'schema' are used interchangeably.
  version: 1.0.0
servers:
- url: https://api.skedulo.com/custom
- url: https://api.uk.skedulo.com/custom
- url: https://api.ca.skedulo.com/custom
- url: https://api.au.skedulo.com/custom
tags:
- name: Standard Fields
paths:
  /standard_fields/{schemaName}:
    get:
      security:
      - Authorization: []
      summary: Get all standard field mappings for an object
      description: Gets all standard fields and their Salesforce mappings for a given object. This endpoint is not supported for Skedulo Pulse Platform tenants (teams).
      operationId: standardFields
      parameters:
      - name: schemaName
        in: path
        description: The name of the object
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOKStandardFields'
        '400':
          description: The request is invalid
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/VendorNotSupportedError'
                - $ref: '#/components/schemas/SchemaNotFoundError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Standard Fields
components:
  schemas:
    ResultOKStandardFields:
      type: object
      required:
      - result
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/StandardField'
    SchemaNotFoundError:
      type: object
      required:
      - errorType
      - message
      properties:
        errorType:
          type: string
          example: schema_not_found
        message:
          type: string
    VendorNotSupportedError:
      type: object
      required:
      - errorType
      - message
      properties:
        errorType:
          type: string
          example: vendor_not_supported
        message:
          type: string
          example: This endpoint is only supported for Skedulo on Salesforce tenants
    StandardField:
      type: object
      required:
      - name
      - mapping
      properties:
        name:
          type: string
          description: The name of the field
        mapping:
          type: string
          description: The field mapping in the remote system
    Error:
      type: object
      required:
      - errorType
      - message
      properties:
        errorType:
          type: string
        message:
          type: string
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
