openapi: 3.0.0
info:
  title: Authentication Admin Tokens API
  description: Skedulo Authentication API
  version: 1.0.0
servers:
- url: https://api.skedulo.com/auth
- url: https://api.uk.skedulo.com/auth
- url: https://api.ca.skedulo.com/auth
- url: https://api.au.skedulo.com/auth
tags:
- name: Tokens
paths:
  /tokens:
    get:
      summary: List all API tokens
      description: List metadata for all API tokens, including revoked tokens. The actual token values are not returned.
      operationId: fetchAll
      responses:
        '200':
          description: Metadata for all tokens.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiTokenInfo'
      tags:
      - Tokens
components:
  schemas:
    ApiTokenInfo:
      type: object
      required:
      - tenantId
      - jti
      - claims
      - createdDate
      - createdBy
      properties:
        tenantId:
          type: string
          example: sk_e0bb1f8aa1924a00b77a9c1f43b09e41
        jti:
          type: string
          example: BM10SHoI4Z4nmhtElInXuJWLkeeqqyzy
        claims:
          $ref: '#/components/schemas/JwtClaims'
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: string
        revokedDate:
          type: string
          format: date-time
        revokedBy:
          type: string
        lastUpdated:
          type: string
          format: date-time
    JwtClaims:
      description: Selection of the user claims from the JWT
      type: object
      additionalProperties: true
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
