openapi: 3.2.0
info:
  title: Onboarding Internal API
  version: 1.0.0
  description: Skedulo Onboarding API
servers:
- url: https://api.skedulo.com/onboarding
- url: https://api.uk.skedulo.com/onboarding
- url: https://api.ca.skedulo.com/onboarding
- url: https://api.au.skedulo.com/onboarding
tags:
- name: Internal
paths:
  /internal/initialize_tenant:
    post:
      description: Internal endpoint used to initialize a skedulo or salesforce tenant schema.
      operationId: internalInitializeTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitializeInput'
      responses:
        '200':
          description: Tenant initialized succesfully.
        '400':
          description: Tenant initialization failed.
      tags:
      - Internal
      summary: Internal initialize tenant
      x-summary-source: derived
components:
  schemas:
    InitializeInput:
      type: object
      required:
      - tenantId
      - vendor
      properties:
        tenantId:
          description: The tenant ID to create the schema for existing tenantId's will return success but will not be updated.
          type: string
          example: sk_ba70ac7072fd4df3a179cce2e2c4e483
        vendor:
          description: The vendor that will serve the tenant's data either skedulo or salesforce
          type: string
          enum:
          - skedulo
          - salesforce
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
