openapi: 3.0.0
info:
  title: Authentication Admin Solve API
  description: Skedulo Authentication API
  version: 1.0.0
servers:
- url: https://api.skedulo.com/auth
- url: https://api.uk.skedulo.com/auth
- url: https://api.ca.skedulo.com/auth
- url: https://api.au.skedulo.com/auth
tags:
- name: Solve
paths:
  /solve:
    post:
      summary: Start an optimization run for a model
      description: This starts a one-off optimization run to solve the model given as an input.
      operationId: Solve
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureModelShape'
            examples:
              PVRP:
                value:
                  allocations:
                  - id: alloc-1
                    groupId: alloc-group-1
                    groupIds:
                    - alloc-group-1
                    start: '2022-01-26T09:00:00Z'
                    duration: 30
                    resourceId: res-1
                    locationId: loc-1
                    priority: 10
                    locked: true
                    attributeRequirements:
                    - id: attr-1
                    - id: attr-2
                      weighting: 10
                    resourceConstraints:
                      type: blocked
                      resources:
                      - res-2
                    scheduleConstraints:
                    - windowStart: '2022-01-26T10:00:00Z'
                      windowEnd: '2022-01-26T11:00:00Z'
                    resourceRatings:
                    - resourceId: res-1
                      rating: 75
                    urgency: 20
                  groups:
                  - id: gr-1
                    synchronizationMode: start_time
                    locked: true
                    enablePartialAllocation: false
                  resources:
                  - id: res-1
                    attributes:
                    - id: attr-1
                    locationId: loc-1
                    availability:
                    - from: '2022-01-26T09:00:00Z'
                      to: '2022-01-30T23:00:00Z'
                      attributes: []
                    maxDailyTravelTimeInMinutes: 180
                    maxTravelTimeBetweenLocations: 60
                    periodConstraints:
                    - start: '2022-01-26T09:00:00Z'
                      end: '2022-01-30T23:00:00Z'
                      maxServiceTimeInMinutes: 100
                      minServiceTimeInMinutes: 50
                      groupConstraints:
                      - groupId: group-1
                        maxAllocations: 5
                    breaks:
                    - breakTimeInMinutes: 30
                      minStartTime: '2022-01-26T12:00:00Z'
                      maxStartTime: '2022-01-26T13:00:00Z'
                    - startTime: '2022-01-26T15:00:00Z'
                      endTime: '2022-01-26T15:30:00Z'
                      locationId: loc-1
                    rating: 80
                    compatibleResources:
                    - res-2
                  allocationDependencies: []
                  resourceDependencies: []
                  locations:
                  - id: loc-1
                    latitude: 51.5072
                    longitude: 0.1276
                  schedulingPeriod:
                    start: '2022-01-26T09:00:00Z'
                    end: '2022-01-30T23:00:00Z'
                  timezone: UTC
                  meta:
                    key: value
                  options:
                    full: false
                    ignoreTravelTime: false
                    ignoreTravelTimeFirstJob: false
                    ignoreTravelTimeLastJob: false
                    minimizeResources: false
                    respectAllocationTimes: false
                    respectAllocationTimesOverTimeConstraints: false
                    balanceAbsoluteWorkload: false
                    enablePartiallyAllocatedGroups: true
                    enablePartiallyAllocatedAllocationDependencies: true
                    removeLockedJobsFromShifts: true
                  sharedGroupConstraints:
                  - groupId: group-1
                    resourceIds:
                    - res-1
                    - res-2
                    maxAllocations: 10
                    start: '2022-01-26T09:00:00Z'
                    end: '2022-01-30T23:00:00Z'
                  solver: pvrp
              ARC:
                value:
                  options:
                    locations: true
                    exceptionFilter:
                      blacklist: true
                      resourceAvailability: true
                    solviceWeights:
                      maxHours: 10hard
                      minHours: 10medium
                      minHoursUnassigned: 10medium
                      availability: 10hard
                      locked: 10hard
                      minRest: 10hard
                      requirements: 10hard
                      skills: 10hard
                      distance: 10hard
                      distanceAL: 10hard
                      priority: 10hard
                      pref: 10hard
                      unassigned: 10hard
                      softSkills: 10hard
                      criticalSkills: 10hard
                      blacklist: 10hard
                      efficiency: 10hard
                      softSkillsLevel: 10hard
                      maxWorkingDays: 10hard
                      shiftStart: 10hard
                      latestShiftStart: 10hard
                      shiftEnd: 10hard
                      minShift: 10hard
                      maxShift: 10hard
                      dayOfWeek: 10hard
                      sameDay: 10hard
                      sameDayMinRest: 10hard
                      maxConsecutive: 10hard
                      concurrent: 10hard
                      costs: 10hard
                      wages: 10hard
                      working: 10hard
                      minWorkingDaysUnassigned: 10medium
                      fairness: 10soft
                  allocations:
                  - locked: false
                    attributeRequirements:
                    - id: attr-1
                    - id: attr-2
                      weighting: 10
                    resourceConstraints:
                      type: blocked
                      resources:
                      - res-2
                    preferredResourceIds:
                    - res-1
                    - res-3
                    id: alloc-1
                    start: '2022-01-26T23:00:00Z'
                    duration: 30
                    resourceId: res-1
                    locationId: loc-1
                    priority: 10
                  resources:
                  - id: res-1
                    statuteId: st-1
                    attributes:
                    - id: attr-1
                      validFor:
                      - from: '2022-01-26'
                        to: '2022-01-02'
                      weighting: 10
                    locationId: loc-1
                    availability:
                    - from: '2022-01-26T09:00:00Z'
                      to: '2022-01-30T23:00:00Z'
                      fromLocation: loc-1
                    efficiency: 10
                    periodConstraints: []
                  statutes:
                  - id: st-1
                    minimumRestPeriodBetweenAllocations: 0
                    minimumRestPeriodBetweenAllocationsInHours: 0
                    minimumHoursForPlanningPeriod: 1
                    maximumHoursForPlanningPeriod: 1
                    maximumTravelTimeToAllocationsInMinutes: 30
                  locations:
                  - id: loc-1
                    latitude: 51.5072
                    longitude: 0.1276
                  sharedAttributes:
                  - id: sh-attr-1
                    allocations:
                    - alloc-1
                    attributeId: attr-1
                    minimumQuantity: 3
                  schedulingPeriod:
                    start: '2022-01-26T09:00:00Z'
                    end: '2022-01-30T23:00:00Z'
                  fairnessBuckets: []
                  timezone: UTC
                  meta:
                    key: value
                  solver: arc
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                required:
                - result
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/SolveResult'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
      security:
      - httpAuth: []
      tags:
      - Solve
  /solve/evaluate:
    post:
      summary: Start an optimization run to evaluate the given model
      description: Evaluation will not change the data that is being optimized. Instead it will evaluate the current allocation in comparison to the results the optimizer would produce.
      operationId: Evaluate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureModelShape'
            examples:
              PVRP:
                value:
                  allocations:
                  - id: alloc-1
                    groupId: alloc-group-1
                    groupIds:
                    - alloc-group-1
                    start: '2022-01-26T09:00:00Z'
                    duration: 30
                    resourceId: res-1
                    locationId: loc-1
                    priority: 10
                    locked: true
                    attributeRequirements:
                    - id: attr-1
                    - id: attr-2
                      weighting: 10
                    resourceConstraints:
                      type: blocked
                      resources:
                      - res-2
                    scheduleConstraints:
                    - windowStart: '2022-01-26T10:00:00Z'
                      windowEnd: '2022-01-26T11:00:00Z'
                    resourceRatings:
                    - resourceId: res-1
                      rating: 75
                    urgency: 20
                  groups:
                  - id: gr-1
                    synchronizationMode: start_time
                    locked: true
                    enablePartialAllocation: false
                  resources:
                  - id: res-1
                    attributes:
                    - id: attr-1
                    locationId: loc-1
                    availability:
                    - from: '2022-01-26T09:00:00Z'
                      to: '2022-01-30T23:00:00Z'
                      attributes: []
                    maxDailyTravelTimeInMinutes: 180
                    maxTravelTimeBetweenLocations: 60
                    periodConstraints:
                    - start: '2022-01-26T09:00:00Z'
                      end: '2022-01-30T23:00:00Z'
                      maxServiceTimeInMinutes: 100
                      minServiceTimeInMinutes: 50
                      groupConstraints:
                      - groupId: group-1
                        maxAllocations: 5
                    breaks:
                    - breakTimeInMinutes: 30
                      minStartTime: '2022-01-26T12:00:00Z'
                      maxStartTime: '2022-01-26T13:00:00Z'
                    - startTime: '2022-01-26T15:00:00Z'
                      endTime: '2022-01-26T15:30:00Z'
                      locationId: loc-1
                    rating: 80
                    compatibleResources:
                    - res-2
                  allocationDependencies: []
                  resourceDependencies: []
                  locations:
                  - id: loc-1
                    latitude: 51.5072
                    longitude: 0.1276
                  schedulingPeriod:
                    start: '2022-01-26T09:00:00Z'
                    end: '2022-01-30T23:00:00Z'
                  timezone: UTC
                  meta:
                    key: value
                  options:
                    full: false
                    ignoreTravelTime: false
                    ignoreTravelTimeFirstJob: false
                    ignoreTravelTimeLastJob: false
                    minimizeResources: false
                    respectAllocationTimes: false
                    respectAllocationTimesOverTimeConstraints: false
                    balanceAbsoluteWorkload: false
                    enablePartiallyAllocatedGroups: true
                    enablePartiallyAllocatedAllocationDependencies: true
                    removeLockedJobsFromShifts: true
                  sharedGroupConstraints:
                  - groupId: group-1
                    resourceIds:
                    - res-1
                    - res-2
                    maxAllocations: 10
                    start: '2022-01-26T09:00:00Z'
                    end: '2022-01-30T23:00:00Z'
                  solver: pvrp
              ARC:
                value:
                  options:
                    locations: true
                    exceptionFilter:
                      blacklist: true
                      resourceAvailability: true
                    solviceWeights:
                      maxHours: 10hard
                      minHours: 10medium
                      minHoursUnassigned: 10medium
                      availability: 10hard
                      locked: 10hard
                      minRest: 10hard
                      requirements: 10hard
                      skills: 10hard
                      distance: 10hard
                      distanceAL: 10hard
                      priority: 10hard
                      pref: 10hard
                      unassigned: 10hard
                      softSkills: 10hard
                      criticalSkills: 10hard
                      blacklist: 10hard
                      efficiency: 10hard
                      softSkillsLevel: 10hard
                      maxWorkingDays: 10hard
                      shiftStart: 10hard
                      latestShiftStart: 10hard
                      shiftEnd: 10hard
                      minShift: 10hard
                      maxShift: 10hard
                      dayOfWeek: 10hard
                      sameDay: 10hard
                      sameDayMinRest: 10hard
                      maxConsecutive: 10hard
                      concurrent: 10hard
                      costs: 10hard
                      wages: 10hard
                      working: 10hard
                      minWorkingDaysUnassigned: 10medium
                      fairness: 10soft
                  allocations:
                  - locked: false
                    attributeRequirements:
                    - id: attr-1
                    - id: attr-2
                      weighting: 10
                    resourceConstraints:
                      type: blocked
                      resources:
                      - res-2
                    preferredResourceIds:
                    - res-1
                    - res-3
                    id: alloc-1
                    start: '2022-01-26T23:00:00Z'
                    duration: 30
                    resourceId: res-1
                    locationId: loc-1
                    priority: 10
                  resources:
                  - id: res-1
                    statuteId: st-1
                    attributes:
                    - id: attr-1
                      validFor:
                      - from: '2022-01-26'
                        to: '2022-01-02'
                      weighting: 10
                    locationId: loc-1
                    availability:
                    - from: '2022-01-26T09:00:00Z'
                      to: '2022-01-30T23:00:00Z'
                      fromLocation: loc-1
                    efficiency: 10
                    periodConstraints: []
                  statutes:
                  - id: st-1
                    minimumRestPeriodBetweenAllocations: 0
                    minimumRestPeriodBetweenAllocationsInHours: 0
                    minimumHoursForPlanningPeriod: 1
                    maximumHoursForPlanningPeriod: 1
                    maximumTravelTimeToAllocationsInMinutes: 30
                  locations:
                  - id: loc-1
                    latitude: 51.5072
                    longitude: 0.1276
                  sharedAttributes:
                  - id: sh-attr-1
                    allocations:
                    - alloc-1
                    attributeId: attr-1
                    minimumQuantity: 3
                  schedulingPeriod:
                    start: '2022-01-26T09:00:00Z'
                    end: '2022-01-30T23:00:00Z'
                  fairnessBuckets: []
                  timezone: UTC
                  meta:
                    key: value
                  solver: arc
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                required:
                - result
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/SolveResult'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
      security:
      - httpAuth: []
      tags:
      - Solve
  /solve/planned:
    post:
      summary: Start an optimization run for the provided plan
      description: This endpoint will start a one-off optimization run based on the provided plan. The plan can be generated using the GET /schedule/plan endpoint.
      operationId: Solve planned
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchedulePlanShape'
            example:
              productData:
                jobs:
                - UID: job-1
                  Start: '2022-01-26T09:00:00Z'
                  Duration: 60
                  JobStatus: Ready
                  LocationId: loc-1
                  GeoLatitude: 53.4834
                  GeoLongitude: -2.2425
                  Quantity: 1
                  JobAllocations: []
                  JobTags: []
                  ResourceRequirements: []
                  JobTimeConstraints: []
                  JobDependenciesFrom: []
                  JobDependenciesTo: []
                  Locked: false
                  RegionId: region-1
                  Urgency: Normal
                activities:
                - UID: activity-1
                  Start: '2022-01-26T09:00:00Z'
                  End: '2022-01-26T10:00:00Z'
                  LocationId: loc-1
                  GeoLatitude: 53.4834
                  GeoLongitude: -2.2425
                  ResourceId: resource1
                  ActivityResources: []
                resources:
                - UID: resource1
                  GeoLatitude: 1
                  GeoLongitude: 1
                  ResourceTags: []
                  HomeAddress: test home address
                  WorkingHoursTimePeriod: Week
                  WorkingHoursStart: '2022-01-26'
                  WorkingHoursMin: 20
                  WorkingHoursMax: 40
                  ResourceOverrides: []
                  PrimaryRegion:
                    Timezone: UTC
                locationResourceScores:
                - LocationId: loc-1
                  ResourceId: resource1
                  Blacklisted: false
                accountResourceScores:
                - AccountId: account-1
                  ResourceId: resource1
                  Blacklisted: false
                availability:
                  2bd0af54-377e-4960-8d4b-ba5272070830:
                    available:
                    - start: '2022-01-26T23:00:00Z'
                      end: '2022-01-29T23:00:00Z'
                    regions:
                    - start: '2022-01-26T23:00:00Z'
                      end: '2022-01-29T23:00:00Z'
                      regionIds:
                      - region-1
                start: '2022-01-26T09:00:00Z'
                end: '2022-01-30T23:00:00Z'
                timeZone: UTC
                region:
                  UID: region-1
                  Timezone: UTC
                  GeoLatitude: 53.4834
                  GeoLongitude: -2.2425
              featureModel:
                allocations:
                - id: alloc-1
                  groupId: alloc-group-1
                  groupIds:
                  - alloc-group-1
                  start: '2022-01-26T09:00:00Z'
                  duration: 30
                  resourceId: res-1
                  locationId: loc-1
                  priority: 10
                  locked: true
                  attributeRequirements:
                  - id: attr-1
                  - id: attr-2
                    weighting: 10
                  resourceConstraints:
                    type: blocked
                    resources:
                    - res-2
                  scheduleConstraints:
                  - windowStart: '2022-01-26T10:00:00Z'
                    windowEnd: '2022-01-26T11:00:00Z'
                  resourceRatings:
                  - resourceId: res-1
                    rating: 75
                  urgency: 20
                groups:
                - id: gr-1
                  synchronizationMode: start_time
                  locked: true
                  enablePartialAllocation: false
                resources:
                - id: res-1
                  attributes:
                  - id: attr-1
                  locationId: loc-1
                  availability:
                  - from: '2022-01-26T09:00:00Z'
                    to: '2022-01-30T23:00:00Z'
                    attributes: []
                  maxDailyTravelTimeInMinutes: 180
                  maxTravelTimeBetweenLocations: 60
                  periodConstraints:
                  - start: '2022-01-26T09:00:00Z'
                    end: '2022-01-30T23:00:00Z'
                    maxServiceTimeInMinutes: 100
                    minServiceTimeInMinutes: 50
                    groupConstraints:
                    - groupId: group-1
                      maxAllocations: 5
                  breaks:
                  - breakTimeInMinutes: 30
                    minStartTime: '2022-01-26T12:00:00Z'
                    maxStartTime: '2022-01-26T13:00:00Z'
                  - startTime: '2022-01-26T15:00:00Z'
                    endTime: '2022-01-26T15:30:00Z'
                    locationId: loc-1
                  rating: 80
                  compatibleResources:
                  - res-2
                allocationDependencies: []
                resourceDependencies: []
                locations:
                - id: loc-1
                  latitude: 51.5072
                  longitude: 0.1276
                schedulingPeriod:
                  start: '2022-01-26T09:00:00Z'
                  end: '2022-01-30T23:00:00Z'
                timezone: UTC
                meta:
                  key: value
                options:
                  full: false
                  ignoreTravelTime: false
                  ignoreTravelTimeFirstJob: false
                  ignoreTravelTimeLastJob: false
                  minimizeResources: false
                  respectAllocationTimes: false
                  respectAllocationTimesOverTimeConstraints: false
                  balanceAbsoluteWorkload: false
                  enablePartiallyAllocatedGroups: true
                  enablePartiallyAllocatedAllocationDependencies: true
                  removeLockedJobsFromShifts: true
                sharedGroupConstraints:
                - groupId: group-1
                  resourceIds:
                  - res-1
                  - res-2
                  maxAllocations: 10
                  start: '2022-01-26T09:00:00Z'
                  end: '2022-01-30T23:00:00Z'
                solver: pvrp
              options:
                respectSchedule: false
                recipeId: 9dc75e35-f1cd-4303-97f3-3f7a6047d698
              ids:
                resourceIds:
                - res-1
                jobIds:
                - job-1
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                required:
                - result
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/SolveResult'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
      security:
      - httpAuth: []
      tags:
      - Solve
components:
  schemas:
    SchedulePlanOptionsShape:
      required:
      - respectSchedule
      type: object
      properties:
        recipeId:
          type: string
        respectSchedule:
          type: boolean
        persistenceStrategy:
          type: string
          enum:
          - save
          - optimize
        label:
          type: string
    JobDependencyAnchor:
      type: string
      enum:
      - End
      - Start
    ResourceConstraintsShape:
      required:
      - type
      - resources
      type: object
      properties:
        type:
          type: string
          description: The constraint type; currently only 'blocked' (exclude list) is supported
          enum:
          - blocked
        resources:
          type: array
          items:
            type: string
          description: The resources to which this constraint applies
      description: Restricts which resources may be assigned to this allocation
    Availability:
      required:
      - start
      - end
      type: object
      properties:
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
    ARCShiftModelShape:
      required:
      - allocations
      - resources
      - statutes
      - locations
      - sharedAttributes
      - fairnessBuckets
      - schedulingPeriod
      - timezone
      - options
      - solver
      type: object
      properties:
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/AllocationShape'
          description: Shifts to be optimally allocated to resources
        resources:
          type: array
          items:
            $ref: '#/components/schemas/ResourceShape'
          description: Resources (workers) available for shift assignment
        statutes:
          type: array
          items:
            $ref: '#/components/schemas/ResourceStatuteShape'
          description: Contractual constraint sets that can be applied to resources, defining limits on rest periods and working hours
        locations:
          type: array
          items:
            $ref: '#/components/schemas/LocationShape1'
          description: Geographic coordinates for all locations referenced by allocations and resources
        sharedAttributes:
          type: array
          items:
            $ref: '#/components/schemas/SharedAttributesShape'
          description: Cross-allocation skill requirements that enforce a minimum number of the listed allocations to be assigned to resources with the specified attribute
        fairnessBuckets:
          type: array
          items:
            $ref: '#/components/schemas/FairnessBucketShape'
          description: Periods used to balance total working time fairly across a group of resources
        schedulingPeriod:
          $ref: '#/components/schemas/TimeBounds'
        timezone:
          type: string
          description: The timezone used for period constraint and fairness bucket calculations
        options:
          $ref: '#/components/schemas/ShiftFeatureOptionsShape'
        meta:
          type: object
          description: Additional arbitrary metadata associated with the model
          additionalProperties:
            description: Any JSON value (string, number, boolean, null, object, or array)
        solver:
          type: string
          description: Identifies the solver type; always 'arc' for ARCShift models
          enum:
          - arc
    GraphQLJob:
      required:
      - UID
      - Duration
      - JobStatus
      - JobAllocations
      - JobTags
      - ResourceRequirements
      - JobTimeConstraints
      - JobDependenciesFrom
      - JobDependenciesTo
      - Locked
      - RegionId
      type: object
      properties:
        UID:
          type: string
        Start:
          type: string
          format: date-time
        Duration:
          type: integer
        AccountId:
          type: string
        JobStatus:
          $ref: '#/components/schemas/JobStatus'
        LocationId:
          type: string
        GeoLatitude:
          type: number
          format: double
        GeoLongitude:
          type: number
          format: double
        Quantity:
          type: integer
          format: int32
        JobAllocations:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLJobAllocation'
        JobTags:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLJobTag'
        ResourceRequirements:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLResourceRequirement'
        JobTimeConstraints:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLJobTimeConstraint'
        JobDependenciesFrom:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLJobDependencyFrom'
        JobDependenciesTo:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLJobDependencyTo'
        Locked:
          type: boolean
        RegionId:
          type: string
        Urgency:
          $ref: '#/components/schemas/JobUrgency'
    SharedAttributesShape:
      required:
      - id
      - allocations
      - attributeId
      - minimumQuantity
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this shared attribute requirement
        allocations:
          type: array
          items:
            type: string
          description: The allocations that must collectively satisfy this attribute requirement
        attributeId:
          type: string
          description: The attribute that the assigned resources must hold
        minimumQuantity:
          type: integer
          description: Minimum number of the listed allocations that must be assigned to resources holding the specified attribute
          format: int32
    ResourceStatuteShape:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this statute
        minimumRestPeriodBetweenAllocations:
          type: integer
          description: 'Deprecated: use minimumRestPeriodBetweenAllocationsInHours instead'
          format: int64
        minimumRestPeriodBetweenAllocationsInHours:
          type: integer
          description: Minimum number of hours of rest required between consecutive allocations for resources governed by this statute
          format: int64
        minimumHoursForPlanningPeriod:
          type: integer
          description: Minimum number of hours the resource must work within the planning period
          format: int64
        maximumHoursForPlanningPeriod:
          type: integer
          description: Maximum number of hours the resource may work within the planning period
          format: int64
        maximumTravelTimeToAllocationsInMinutes:
          type: integer
          description: Maximum travel time in minutes allowed for the resource to travel to any single allocation
          format: int64
    FixedTimeBreakShape:
      required:
      - startTime
      - endTime
      type: object
      properties:
        startTime:
          type: string
          description: The fixed start time of the break
          format: date-time
        endTime:
          type: string
          description: The fixed end time of the break
          format: date-time
        locationId:
          type: string
          description: Optional location where the resource will be during this break; affects travel time calculations for surrounding allocations
    GraphQLJobAllocation:
      required:
      - UID
      - ResourceId
      - Status
      type: object
      properties:
        UID:
          type: string
        ResourceId:
          type: string
        ResourceRequirementId:
          type: string
        Status:
          $ref: '#/components/schemas/JobAllocationStatus'
    GraphQLResourceTag:
      required:
      - Tag
      type: object
      properties:
        Tag:
          $ref: '#/components/schemas/GraphQLTag'
        ExpiryDate:
          type: string
          format: date-time
    WindowedBreakShape:
      required:
      - breakTimeInMinutes
      - minStartTime
      - maxStartTime
      type: object
      properties:
        breakTimeInMinutes:
          type: integer
          description: Duration of the break in minutes
          format: int64
        minStartTime:
          type: string
          description: Earliest time at which the break may start
          format: date-time
        maxStartTime:
          type: string
          description: Latest time at which the break may start
          format: date-time
    LocationShape2:
      required:
      - id
      - latitude
      - longitude
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this location
        latitude:
          type: number
          description: Geographic latitude coordinate
          format: double
        longitude:
          type: number
          description: Geographic longitude coordinate
          format: double
    GraphQLAccountResourceScore:
      required:
      - AccountId
      - ResourceId
      - Blacklisted
      type: object
      properties:
        AccountId:
          type: string
        ResourceId:
          type: string
        Blacklisted:
          type: boolean
    GraphQLJobDependencyTo:
      required:
      - FromJobId
      type: object
      properties:
        FromJobId:
          type: string
    AllocationResourceRatingShape:
      required:
      - resourceId
      - rating
      type: object
      properties:
        resourceId:
          type: string
        rating:
          type: integer
          description: The rating of the resource, can be an integer between 1 and 100
          format: int32
    APIIdInput:
      required:
      - resourceIds
      - jobIds
      type: object
      properties:
        resourceIds:
          type: array
          items:
            type: string
        jobIds:
          type: array
          items:
            type: string
        regionId:
          type: string
        regionIds:
          type: array
          items:
            type: string
      description: The ids of entities requested in the optimization run
    ShiftFeatureOptionsShape:
      required:
      - locations
      type: object
      properties:
        locations:
          type: boolean
          description: If true, location data is used to calculate travel times between allocations and resource home locations
        exceptionFilter:
          $ref: '#/components/schemas/ExceptionFilterShape'
        solviceWeights:
          $ref: '#/components/schemas/SolviceWeightsShape'
      description: Configuration options controlling the shift optimization behaviour
    PeriodConstraintsShape:
      required:
      - start
      - end
      type: object
      properties:
        start:
          type: string
          description: Start of the constraint period; must be within the scheduling period
          format: date-time
        end:
          type: string
          description: End of the constraint period; must be within the scheduling period
          format: date-time
        minRestTimeInMinutes:
          type: integer
          description: Minimum rest time required between consecutive allocations within this period, in minutes
          format: int64
        minWorkingDays:
          type: integer
          description: Minimum number of days the resource must work within this period
          format: int32
        maxWorkingDays:
          type: integer
          description: Maximum number of days the resource may work within this period
          format: int32
        minWorkingDurationInMinutes:
          type: integer
          description: Minimum total working duration within this period, in minutes
          format: int64
        maxWorkingDurationInMinutes:
          type: integer
          description: Maximum total working duration within this period, in minutes
          format: int64
    JobStatus:
      type: string
      enum:
      - Cancelled
      - Complete
      - Dispatched
      - En Route
      - In Progress
      - On Site
      - Pending Allocation
      - Pending Dispatch
      - Queued
      - Ready
    AttributeValidityPeriodShape:
      type: object
      properties:
        from:
          type: string
          description: Start date from which this attribute is valid (inclusive); absent means valid from the beginning of time
          format: date
        to:
          type: string
          description: End date after which this attribute is no longer valid (exclusive); absent means no expiry
          format: date
    GraphQLRegion:
      required:
      - UID
      type: object
      properties:
        UID:
          type: string
        Timezone:
          type: string
        GeoLatitude:
          type: number
          format: double
        GeoLongitude:
          type: number
          format: double
    GraphQLJobTimeConstraint:
      required:
      - Required
      type: object
      properties:
        StartAfter:
          type: string
          format: date-time
        StartBefore:
          type: string
          format: date-time
        EndBefore:
          type: string
          format: date-time
        Required:
          type: boolean
    ExceptionFilterShape:
      required:
      - blacklist
      - resourceAvailability
      type: object
      properties:
        blacklist:
          type: boolean
          description: If true, allocations assigned by the solver to explicitly blocked resources will be discarded from the result
        resourceAvailability:
          type: boolean
          description: If true, allocations assigned by the solver to resources outside their availability windows will be discarded from the result
      description: Controls which types of constraint violation cause the optimizer to discard a proposed assignment from the result
    JobUrgency:
      type: string
      enum:
      - Critical
      - Normal
      - Urgent
    SharedGroupConstraintShape:
      required:
      - groupId
      - resourceIds
      - maxAllocations
      - start
      - end
      type: object
      properties:
        groupId:
          type: string
          description: The allocation group identifier the pooled limit applies to
        resourceIds:
          type: array
          items:
            type: string
          description: The resources that share the pooled limit
        maxAllocations:
          type: integer
          description: Maximum number of allocations from this group across all listed resources combined within the period
          format: int32
        start:
          type: string
          description: Start of the period the pooled limit applies to
          format: date-time
        end:
          type: string
          description: End of the period the pooled limit applies to
          format: date-time
    AttributeShape:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: The attribute identifier
        validFor:
          type: array
          items:
            $ref: '#/components/schemas/AttributeValidityPeriodShape'
          description: Validity periods for this attribute; absent means the attribute is always valid
        weighting:
          type: integer
          description: Preference weighting for this attribute (1-10000); used in soft skill scoring to rank resources when the attribute is a preferred rather than required requirement
          format: int32
    Map_ResourceId_ResourceAvailability:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/ResourceAvailability'
    JobAllocationStatus:
      type: string
      enum:
      - Checked In
      - Complete
      - Confirmed
      - Declined
      - Deleted
      - Dispatched
      - En Route
      - In Progress
      - Pending Dispatch
    GraphQLLocationResourceScore:
      required:
      - LocationId
      - ResourceId
      - Blacklisted
      type: object
      properties:
        LocationId:
          type: string
        ResourceId:
          type: string
        Blacklisted:
          type: boolean
    GraphQLResourceOverride:
      required:
      - Start
      - End
      type: object
      properties:
        Start:
          type: string
          format: date-time
        End:
          type: string
          format: date-time
        GeoLatitude:
          type: number
          format: double
        GeoLongitude:
          type: number
          format: double
    TimeBounds:
      required:
      - start
      - end
      type: object
      properties:
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
      description: The time window within which the optimization occurs
    ResourceAvailability:
      required:
      - available
      - regions
      type: object
      properties:
        available:
          type: array
          items:
            $ref: '#/components/schemas/Availability'
        regions:
          type: array
          items:
            $ref: '#/components/schemas/RegionAvailability'
    SolviceWeightsShape:
      type: object
      properties:
        maxHours:
          type: string
        minHours:
          type: string
        minHoursUnassigned:
          type: string
        availability:
          type: string
        locked:
          type: string
        minRest:
          type: string
        requirements:
          type: string
        skills:
          type: string
        distance:
          type: string
        distanceAL:
          type: string
        priority:
          type: string
        pref:
          type: string
        unassigned:
          type: string
        softSkills:
          type: string
        criticalSkills:
          type: string
        blacklist:
          type: string
        efficiency:
          type: string
        softSkillsLevel:
          type: string
        maxWorkingDays:
          type: string
        shiftStart:
          type: string
        latestShiftStart:
          type: string
        shiftEnd:
          type: string
        minShift:
          type: string
        maxShift:
          type: string
        dayOfWeek:
          type: string
        sameDay:
          type: string
        sameDayMinRest:
          type: string
        maxConsecutive:
          type: string
        concurrent:
          type: string
        costs:
          type: string
        wages:
          type: string
        working:
          type: string
        minWorkingDaysUnassigned:
          type: string
        fairness:
          type: string
      description: Fine-grained weight configuration passed directly to the underlying Solvice ShiftFill solver
    CorePVRPFeatureModelShape:
      required:
      - allocations
      - groups
      - resources
      - allocationDependencies
      - resourceDependencies
      - locations
      - schedulingPeriod
      - rollingSchedulingPeriods
      - timezone
      - options
      - solver
      - sharedGroupConstraints
      type: object
      properties:
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/AllocationShape1'
          description: Allocations to be optimized, each to one resource
        groups:
          type: array
          items:
            $ref: '#/components/schemas/AllocationGroupShape'
          description: Groups of allocations that should be synchronized by time
        resources:
          type: array
          items:
            $ref: '#/components/schemas/ResourceShape1'
          description: Resources that can be allocated to
        allocationDependencies:
          type: array
          items:
            $ref: '#/components/schemas/AllocationDependencyShape'
          description: Contains pairs of allocations which must be scheduled within a certain time of each other
        resourceDependencies:
          type: array
          items:
            $ref: '#/components/schemas/ResourceDependencyShape'
          description: Contains sets of allocations which must be allocated to the same resource
        locations:
          type: array
          items:
            $ref: '#/components/schemas/LocationShape2'
          description: All the locations included in the model for both allocations and resources
        schedulingPeriod:
          $ref: '#/components/schemas/ScheduleRunWindow'
        rollingSchedulingPeriods:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleRunWindow'
          description: Optional sub-windows used for rolling schedule optimization; the scheduling period is split into these periods and each is solved sequentially
        timezone:
          type: string
          description: The timezone used for date-based period constraint calculations
        options:
          $ref: '#/components/schemas/PVRPFeatureOptionsShape'
        meta:
          type: object
          description: 'Additional metadata for the model. For route optimization the default shape is ProductMeta, which contains: ''allocations'' — a map from CorePVRP allocation ID to either a Job reference (jobId, optional initial resource/allocation IDs, optional resourceRequirementId) or an Activity reference (activityId); ''frozenJobs'' — a map from job ID to the reasons it was excluded from optimization (e.g. has dependencies outside scope, outside region, not in requested jobs); ''activityBreaks'' — a map from activity ID to the resource and fixed-time break period for activities that represent resource breaks.'
          additionalProperties:
            description: Any JSON value (string, number, boolean, null, object, or array)
        solver:
          type: string
          description: Identifies the solver type; always 'pvrp' for CorePVRP models
          enum:
          - pvrp
        phases:
          type: array
          items:
            $ref: '#/components/schemas/PhaseConfigurationShape'
          description: Optional ordered list of phases for strict prioritization. Each phase is either 'all' (every object is active) or 'filtered' (per-object-type tag filters control which objects are active). Phases are processed in order and allocations assigned during one phase are locked for subsequent phases.
        sharedGroupConstraints:
          type: array
          items:
            $ref: '#/components/schemas/SharedGroupConstraintShape'
          description: Collective allocation limits shared across a filtered set of resources. Unlike per-resource groupConstraints, each entry caps the total allocations of a group across all listed resources combined (a shared pool), regardless of how they are distributed. Every resource in the pool shares the exact same period and limit.
    FairnessBucketShape:
      required:
      - start
      - end
      - resourceIds
      - allocationIds
      type: object
      properties:
        start:
          type: string
          description: Start of the fairness period
          format: date-time
        end:
          type: string
          description: End of the fairness period
          format: date-time
        resourceIds:
          type: array
          items:
            type: string
          description: Resources whose working time should be balanced within this period
        allocationIds:
          type: array
          items:
            type: string
          description: Allocations to consider when measuring workload for fairness balancing
        targetInMinutes:
          type: integer
          description: Target working time per resource in minutes; if absent, total allocation time is distributed evenly across the listed resources
          format: int64
    AttributeRequirementsShape:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: The attribute identifier that the resource must or preferably should have
        weighting:
          type: integer
          description: If present, this is a soft (preferred) requirement with the given weighting (1-10000); if absent, this is a hard (required) attribute
          format: int32
    ResourceDependencyShape:
      required:
      - allocationIds
      type: object
      properties:
        allocationIds:
          type: array
          items:
            type: string
          description: The set of allocations that must all be assigned to the same resource
    ScheduleTimeConstraintShape:
      required:
      - windowStart
      - windowEnd
      type: object
      properties:
        windowStart:
          type: string
          description: Start of the time window within which this allocation must be scheduled
          format: date-time
        windowEnd:
          type: string
          description: End of the time window within which this allocation must be scheduled
          format: date-time
    GraphQLResourceRequirement:
      required:
      - UID
      - Quantity
      - Tags
      type: object
      properties:
        UID:
          type: string
        Quantity:
          type: integer
          format: int32
        Tags:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLJobTag'
    SchedulePlanShape:
      required:
      - productData
      - featureModel
      - ids
      - options
      type: object
      properties:
        productData:
          $ref: '#/components/schemas/APIProductData'
        featureModel:
          $ref: '#/components/schemas/CorePVRPFeatureModelShape'
        ids:
          $ref: '#/components/schemas/APIIdInput'
        options:
          $ref: '#/components/schemas/SchedulePlanOptionsShape'
    LocationShape1:
      required:
      - id
      - latitude
      - longitude
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this location
        latitude:
          type: number
          description: Geographic latitude coordinate
          format: double
        longitude:
          type: number
          description: Geographic longitude coordinate
          format: double
    ObjectiveWeightModifiersShape:
      type: object
      properties:
        minimizeDisruption:
          type: number
        balanceAbsoluteWorkload:
          type: number
        travelTime:
          type: number
        minimizeResources:
          type: number
        softSkills:
          type: number
        jobsPriority:
          type: number
        resourceRating:
          type: number
        scheduleImmediacy:
          type: number
        urgency:
          type: number
        overtime:
          type: number
    GraphQLActivityResource:
      required:
      - resourceId
      type: object
      properties:
        resourceId:
          type: string
    BreakShape:
      oneOf:
      - $ref: '#/components/schemas/FixedTimeBreakShape'
      - $ref: '#/components/schemas/WindowedBreakShape'
    GroupConstraintsShape:
      required:
      - groupId
      - maxAllocations
      type: object
      properties:
        groupId:
          type: string
          description: The allocation group identifier
        maxAllocations:
          type: integer
          description: Maximum number of allocations from this group that can be assigned to the resource in the period
          format: int32
    GraphQLActivity:
      required:
      - UID
      - Start
      - End
      - ActivityResources
      type: object
      properties:
        UID:
          type: string
        Start:
          type: string
          format: date-time
        End:
          type: string
          format: date-time
        LocationId:
          type: string
        GeoLatitude:
          type: number
          format: double
        GeoLongitude:
          type: number
          format: double
        ResourceId:
          type: string
        ActivityResources:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLActivityResource'
    GraphQLResourcePrimaryRegion:
      required:
      - Timezone
      type: object
      properties:
        Timezone:
          type: string
    RegionAvailability:
      required:
      - start
      - end
      - regionIds
      type: object
      properties:
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        regionIds:
          type: array
          items:
            type: string
    AllocationShape:
      required:
      - id
      - start
      - locked
      - duration
      - attributeRequirements
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this allocation
        start:
          type: string
          description: The scheduled start time of this shift
          format: date-time
        locked:
          type: boolean
          description: If true, the assigned resource cannot be changed by the optimizer
        duration:
          type: integer
          description: Duration of the shift in minutes
          format: int64
        resourceId:
          type: string
          description: The resource currently assigned to this allocation, if any
        locationId:
          type: string
          description: The location at which this allocation takes place
        priority:
          type: integer
          description: Priority of this allocation (1-100); higher values cause the optimizer to prefer assigning this allocation over lower-priority ones
          format: int32
        attributeRequirements:
          type: array
          items:
            $ref: '#/components/schemas/AttributeRequirementsShape'
          description: Attributes a resource must or preferably should have to be assigned to this allocation
        resourceConstraints:
          $ref: '#/components/schemas/ResourceConstraintsShape'
        preferredResourceIds:
          type: array
          items:
            type: string
          description: Ordered list of preferred resources for this allocation; the optimizer will prefer resources appearing earlier in the list
    ResourceAvailabilityShape1:
      required:
      - from
      - to
      type: object
      properties:
        from:
          type: string
          description: Start of the availability window
          format: date-time
        to:
          type: string
          description: End of the availability window
          format: date-time
        startLocationId:
          type: string
          description: Location from which the resource departs at the start of this availability window; overrides the resource's home location
        endLocationId:
          type: string
          description: Location at which the resource must finish at the end of this availability window; overrides the resource's home location
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/ResourceAvailabilityAttributeShape'
          description: Attributes that are active for this resource during this availability window; overrides the resource-level attributes for allocations scheduled within this window
        phaseTags:
          type: array
          items:
            type: string
          description: Phase tags that restrict this availability window to specific phases. If absent or empty, the availability window is included in all phases.
        overtimeEnd:
          type: string
          description: Latest end the shift may extend to when working overtime; must be after the end of the availability window
          format: date-time
    GraphQLTag:
      required:
      - UID
      type: object
      properties:
        UID:
          type: string
    SolveResult:
      required:
      - id
      type: object
      properties:
        id:
          type: string
    ResourceAttributeShape:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: The attribute identifier
    PhaseObjectFilterShape:
      required:
      - objectType
      - tags
      - filterType
      type: object
      properties:
        objectType:
          type: string
          description: Object type this filter applies to
          enum:
          - all
          - allocations
          - groups
          - resources
          - availability
        tags:
          type: array
          items:
            type: string
          description: Phase tags to match against
        filterType:
          type: string
          description: How tags are applied
          enum:
          - permit
          - permitIncludeUnset
          - restrict
          - restrictExcludeUnset
    ScheduleRunWindow:
      required:
      - start
      - end
      type: object
      properties:
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
    ResourceShape1:
      required:
      - id
      - attributes
      - availability
      - periodConstraints
      - breaks
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this resource
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/ResourceAttributeShape'
          description: Skills and qualifications held by this resource
        locationId:
          type: string
          description: The home/base location of this resource, used as the default start and end point for route calculations
        availability:
          type: array
          items:
            $ref: '#/components/schemas/ResourceAvailabilityShape1'
          description: Time windows during which this resource is available for allocation, with optional start and end locations for each window
        compatibleResources:
          type: array
          items:
            type: string
          description: List of resource IDs that this resource is compatible with; used to constrain which resources can share work within a locked group
        maxDailyTravelTimeInMinutes:
          type: integer
          description: Maximum total travel time allowed per day for this resource, in minutes; overrides the global option if set
          format: int64
        maxTravelTimeBetweenLocations:
          type: integer
          description: Maximum travel time allowed between any two consecutive allocation locations for this resource, in minutes; overrides the global option if set
          format: int64
        periodConstraints:
          type: array
          items:
            $ref: '#/components/schemas/PeriodConstraintsShape1'
          description: Allows a resource to be given minimum and maximum service times for different periods
        breaks:
          type: array
          items:
            $ref: '#/components/schemas/BreakShape'
          description: Scheduled breaks that must be incorporated into the resource's route
        rating:
          type: integer
          description: The rating of the resource, can be an integer between 1 and 100
          format: int32
        phaseTags:
          type: array
          items:
            type: string
          description: Phase tags that restrict this resource to specific phases. If absent or empty, the resource is included in all phases.
    RollingScheduleWindow:
      required:
      - start
      - end
      type: object
      properties:
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
    PVRPFeatureOptionsShape:
      type: object
      properties:
        full:
          type: boolean
          description: If true, runs a full optimization pass; if false, only optimizes unscheduled allocations
        ignoreTravelTime:
          type: boolean
          description: If true, travel time between locations is not considered when scoring the solution
        ignoreTravelTimeFirstJob:
          type: boolean
          description: If true, travel time to a resource's first allocation of the day is not penalised
        ignoreTravelTimeLastJob:
          type: boolean
          description: If true, travel time from a resource's last allocation of the day is not penalised
        minimizeResources:
          type: boolean
          description: If true, the optimizer will attempt to use the minimum number of resources required to service all allocations
        maxDailyTravelTimeInMinutes:
          type: integer
          description: Global maximum total travel time per resource per day in minutes; can be overridden per resource
          format: int64
        maxTravelTimeBetweenLocations:
          type: integer
          description: Global maximum travel time between any two consecutive allocation locations in minutes; can be overridden per resource
          format: int64
        respectAllocationTimes:
          type: boolean
          description: If true, currently scheduled start times are treated as soft constraints that the optimizer will try to preserve
        respectAllocationTimesOverTimeConstraints:
          type: boolean
          description: If true, existing allocation start times take precedence over schedule time window constraints when the two conflict
        balanceAbsoluteWorkload:
          type: boolean
          description: If true, the optimizer will try to balance the total absolute working time evenly across all resources
        snapUnit:
          type: integer
          description: Snap allocation start times to multiples of this value in minutes; useful to avoid solutions with odd start times
          format: int32
        padding:
          type: integer
          description: Minimum gap in minutes that must be left between consecutive allocations for a resource, in addition to travel time
          format: int32
        objectiveWeights:
          $ref: '#/components/schemas/ObjectiveWeightsShape'
        objectiveWeightModifiers:
          $ref: '#/components/schemas/ObjectiveWeightModifiersShape'
        temporalAffinityStrength:
          type: integer
          description: Strength of the preference to schedule allocations close in time to their schedule time windows (1-100)
          format: int32
        enablePartiallyAllocatedGroups:
          type: boolean
          description: If true, allocation groups that cannot be fully assigned will be partially assigned rather than left unscheduled
        enablePartiallyAllocatedAllocationDependencies:
          type: boolean
          description: If true, allocation dependencies that cannot be fully assigned will be partially assigned rather than left unscheduled
    GraphQLJobTag:
      required:
      - Required
      - Tag
      type: object
      properties:
        Required:
          type: boolean
        Weighting:
          type: integer
          format: int32
        Tag:
          $ref: '#/components/schemas/GraphQLTag'
    ResourceAvailabilityShape:
      required:
      - from
      - to
      type: object
      properties:
        from:
          type: string
          description: Start of the availability window
          format: date-time
        to:
          type: string
          description: End of the availability window
          format: date-time
        fromLocation:
          type: string
          description: Location from which the resource departs at the start of this availability window; overrides the resource's home location for travel time calculations
    PeriodConstraintsShape1:
      required:
      - start
      - end
      type: object
      properties:
        start:
          type: string
          description: Start of the constraint period; must be within the scheduling period
          format: date-time
        end:
          type: string
          description: End of the constraint period; must be within the scheduling period
          format: date-time
        maxServiceTimeInMinutes:
          type: integer
          description: Maximum total service (working) time for this resource within this period, in minutes
          format: int64
        minServiceTimeInMinutes:
          type: integer
          description: Minimum total service (working) time for this resource within this period, in minutes
          format: int64
        groupConstraints:
          type: array
          items:
            $ref: '#/components/schemas/GroupConstraintsShape'
          description: Defines the maximum number of allocations from specific groups that can be assigned to a resource during this period. Any group not listed has no limit.
    GraphQLResource:
      required:
      - UID
      - ResourceTags
      - ResourceOverrides
      type: object
      properties:
        UID:
          type: string
        GeoLatitude:
          type: number
          format: double
        GeoLongitude:
          type: number
          format: double
        ResourceTags:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLResourceTag'
        HomeAddress:
          type: string
        WeeklyHours:
          type: number
        WorkingHoursTimePeriod:
          type: string
          enum:
          - Day
          - Week
          - TwoWeeks
          - FourWeeks
        WorkingHoursStart:
          type: string
          format: date
        WorkingHoursMin:
          type: number
        WorkingHoursMax:
          type: number
        ResourceOverrides:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLResourceOverride'
        Rating:
          type: integer
          format: int32
        PrimaryRegion:
          $ref: '#/components/schemas/GraphQLResourcePrimaryRegion'
    ResourceShape:
      required:
      - id
      - availability
      - attributes
      - periodConstraints
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this resource
        locationId:
          type: string
          description: The home location of this resource, used as the starting point for travel time calculations
        availability:
          type: array
          items:
            $ref: '#/components/schemas/ResourceAvailabilityShape'
          description: Time windows during which this resource is available for shift assignment, with an optional departure location for each window
        efficiency:
          type: integer
          description: Work efficiency of this resource (1-100); lower values indicate the resource takes proportionally longer to complete tasks relative to others
          format: int32
        statuteId:
          type: string
          description: Reference to a statute defining contractual working constraints (rest periods, min/max working hours) applicable to this resource
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/AttributeShape'
          description: Skills and qualifications held by this resource
        periodConstraints:
          type: array
          items:
            $ref: '#/components/schemas/PeriodConstraintsShape'
          description: Working time constraints applied to specific sub-periods of the scheduling window for this resource
    FeatureModelShape:
      oneOf:
      - $ref: '#/components/schemas/ARCShiftModelShape'
      - $ref: '#/components/schemas/CorePVRPFeatureModelShape'
    AllocationDependencyShape:
      required:
      - anchorAllocationId
      - dependentAllocationId
      type: object
      properties:
        anchorAllocationId:
          type: string
          description: The allocation that represents the fixed point in time that the dependent allocation must be scheduled relative to
        dependentAllocationId:
          type: string
          description: The allocation that must be scheduled relative to the anchor allocation
        minTimeIntervalInMinutes:
          type: integer
          description: The offset that defines the start of the valid window of time relative to the anchor, if blank the dependent allocation has no earliest start time constraint, can be negative to represent a time before the anchor allocation
          format: int64
        maxTimeIntervalInMinutes:
          type: integer
          description: The offset that defines the end of the valid window of time for the dependent allocation to start relative to the anchor, if blank the dependent allocation has no latest start time constraint, can be negative to represent a time before the anchor allocation
          format: int64
        enablePartialAllocation:
          type: boolean
          description: Allows allocations in the allocation dependency to be partially allocated if they cannot be fully allocated. This will be overridden by the global setting options.enablePartiallyAllocatedAllocationDependencies if the global setting is true.
    ObjectiveWeightsShape:
      type: object
      properties:
        minimizeDisruption:
          type: integer
        balanceAbsoluteWorkload:
          type: integer
        travelTime:
          type: integer
        minimizeResources:
          type: integer
        softSkills:
          type: integer
        jobsPriority:
          type: integer
        resourceRating:
          type: integer
        scheduleImmediacy:
          type: integer
        urgency:
          type: integer
        overtime:
          type: integer
    AllocationResourceConstraintShape:
      required:
      - type
      - resources
      type: object
      properties:
        type:
          type: string
          description: Whether the resources list is a blocked (excluded) or allowed (included) list
          enum:
          - blocked
          - allowed
        resources:
          type: array
          items:
            type: string
          description: The resources to which this constraint applies
      description: Restricts which resources may be assigned to this allocation (blocked or allowed list)
    AllocationShape1:
      required:
      - id
      - groupIds
      - duration
      - locked
      - attributeRequirements
      - scheduleConstraints
      - resourceRatings
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this allocation
        groupId:
          type: string
          description: The allocation group if an allocation belongs to a single group
        groupIds:
          type: array
          items:
            type: string
          description: The allocation groups if an allocation belongs to multiple groups
        start:
          type: string
          description: The currently scheduled start time, if the allocation has already been scheduled
          format: date-time
        resourceId:
          type: string
          description: The resource currently assigned to this allocation, if any
        locationId:
          type: string
          description: The location at which this allocation takes place
        duration:
          type: integer
          description: The duration of the allocation in minutes
          format: int64
        locked:
          type: boolean
          description: If the allocation is locked, the start time and resourceId cannot be reassigned
        attributeRequirements:
          type: array
          items:
            $ref: '#/components/schemas/AllocationAttributeShape'
          description: Attributes a resource must or preferably should have to be assigned to this allocation
        resourceConstraints:
          $ref: '#/components/schemas/AllocationResourceConstraintShape'
        scheduleConstraints:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleTimeConstraintShape'
          description: Time windows within which this allocation must be scheduled; the allocation's start time must fall within one of these windows
        resourceRatings:
          type: array
          items:
            $ref: '#/components/schemas/AllocationResourceRatingShape'
          description: The rating of resources for this specific job. If present this will override the rating field on resources for this job.
        priority:
          type: integer
          description: Priority of this allocation (1-100); higher values cause the optimizer to prefer assigning this allocation over lower-priority ones
          format: int32
        urgency:
          type: integer
          description: Urgency of this allocation (1-100); higher values cause the optimizer to schedule the allocation closer to the start of its time windows
          format: int32
        phaseTags:
          type: array
          items:
            type: string
          description: Phase tags that restrict this allocation to specific phases. If absent or empty, the allocation is included in all phases.
    AllocationAttributeShape:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: The attribute identifier
        weighting:
          type: integer
          description: If present, this is a soft (preferred) requirement with the given weighting; if absent, this is a hard (required) attribute
          format: int32
    APIProductData:
      required:
      - jobs
      - activities
      - resources
      - accountResourceScores
      - locationResourceScores
      - availability
      - start
      - end
      - timezone
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLJob'
        activities:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLActivity'
        resources:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLResource'
        accountResourceScores:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLAccountResourceScore'
        locationResourceScores:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLLocationResourceScore'
        availability:
          $ref: '#/components/schemas/Map_ResourceId_ResourceAvailability'
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        rollingScheduleWindows:
          type: array
          items:
            $ref: '#/components/schemas/RollingScheduleWindow'
        timezone:
          type: string
        region:
          $ref: '#/components/schemas/GraphQLRegion'
        regions:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLRegion'
      description: All the data retrieved from GraphQL to run the optimization
    PhaseConfigurationShape:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          description: all = every object is active in this phase; filtered = apply object type filters
          enum:
          - all
          - filtered
        filters:
          type: array
          items:
            $ref: '#/components/schemas/PhaseObjectFilterShape'
          description: Filters controlling which objects are active in this phase; only present when type is filtered
    GraphQLJobDependencyFrom:
      required:
      - ToJobId
      type: object
      properties:
        ToJobId:
          type: string
        FromAnchor:
          $ref: '#/components/schemas/JobDependencyAnchor'
        ToAnchor:
          $ref: '#/components/schemas/JobDependencyAnchor'
        ToAnchorMinOffsetMinutes:
          type: integer
          format: int32
        ToAnchorMaxOffsetMinutes:
          type: integer
          format: int32
    AllocationGroupShape:
      required:
      - id
      - locked
      type: object
      properties:
        id:
          type: string
        synchronizationMode:
          type: string
          description: The time that should be synchronised for each job in the group
          default: no_synchronization
          enum:
          - no_synchronization
          - start_time
          - end_time
          - day
        locked:
          type: boolean
          description: If the group is locked, all allocations in the group will be locked
        enablePartialAllocation:
          type: boolean
          description: Allows allocations in the group to be partially allocated if they cannot be fully allocated. This will be overridden by the global setting options.enablePartiallyAllocatedGroups if the global setting is true.
          default: false
        phaseTags:
          type: array
          items:
            type: string
          description: Phase tags that restrict this group to specific phases. If absent or empty, the group is included in all phases.
    ResourceAvailabilityAttributeShape:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: The attribute identifier active during this availability window
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
