openapi: 3.0.0
info:
  title: Authentication Admin Templates API
  description: Skedulo Authentication API
  version: 1.0.0
servers:
- url: https://api.skedulo.com/auth
- url: https://api.uk.skedulo.com/auth
- url: https://api.ca.skedulo.com/auth
- url: https://api.au.skedulo.com/auth
tags:
- name: Templates
paths:
  /templates/{schemaName}:
    get:
      security:
      - Authorization: []
      summary: Fetch schema templates
      description: Fetch all templates for a given schema.
      operationId: getTemplates
      parameters:
      - name: schemaName
        in: path
        description: Schema to retrieve templates for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOKTemplates'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Templates
components:
  schemas:
    Template:
      type: object
      required:
      - id
      - name
      - schemaName
      properties:
        id:
          $ref: '#/components/schemas/TemplateId'
        name:
          type: string
        schemaName:
          type: string
    ResultOKTemplates:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/Template'
    TemplateId:
      type: string
      format: uuid
    Error:
      type: object
      required:
      - errorType
      - message
      properties:
        errorType:
          type: string
        message:
          type: string
        errorId:
          type: string
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
