openapi: 3.0.0
info:
  title: Authentication Admin Template API
  description: Skedulo Authentication API
  version: 1.0.0
servers:
- url: https://api.skedulo.com/auth
- url: https://api.uk.skedulo.com/auth
- url: https://api.ca.skedulo.com/auth
- url: https://api.au.skedulo.com/auth
tags:
- name: Template
paths:
  /template:
    post:
      security:
      - Authorization: []
      summary: Create template
      description: Create a new template.
      operationId: createTemplate
      responses:
        '200':
          description: The template was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOKCreateTemplate'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTemplate'
        description: New template details.
        required: true
      tags:
      - Template
  /template/{template_id}:
    put:
      security:
      - Authorization: []
      summary: Update template
      description: Update an existing template.
      operationId: updateTemplate
      parameters:
      - name: template_id
        in: path
        description: Identifier of the template to update.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The template was updated.
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplate'
        description: Updated template details.
        required: true
      tags:
      - Template
    delete:
      security:
      - Authorization: []
      summary: Delete template
      description: Delete a template.
      operationId: deleteTemplate
      parameters:
      - name: template_id
        in: path
        description: Identifier of the template to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The template was deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOKDeleteTemplate'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Template
  /template/{template_id}/values:
    get:
      security:
      - Authorization: []
      summary: Template values
      description: Return template values for a template.
      operationId: getValuePairs
      parameters:
      - name: template_id
        in: path
        description: Identifier of the template to retrieve values for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOKTemplateValues'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Template
    put:
      security:
      - Authorization: []
      summary: Update template values
      description: All existing values will removed and the values provided will be inserted.
      operationId: overrideTemplateValues
      parameters:
      - name: template_id
        in: path
        description: Identifier of the template to add values for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The values were updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOKTemplateValues'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/NewTemplateValue'
        description: Values to use for the template.
        required: true
      tags:
      - Template
components:
  schemas:
    TemplateValueId:
      type: string
      format: uuid
    NewTemplate:
      type: object
      required:
      - name
      - schemaName
      properties:
        name:
          type: string
        schemaName:
          type: string
    UpdateTemplate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
    TemplateValue:
      type: object
      required:
      - id
      - templateId
      - rel
      - field
      - value
      properties:
        id:
          $ref: '#/components/schemas/TemplateValueId'
        templateId:
          $ref: '#/components/schemas/TemplateId'
        rel:
          type: string
        field:
          type: string
        value:
          type: string
    ResultOKTemplateValues:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/TemplateValue'
    ResultOKCreateTemplate:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/Template'
    TemplateId:
      type: string
      format: uuid
    ResultOKDeleteTemplate:
      type: object
      properties:
        deleted:
          $ref: '#/components/schemas/TemplateId'
    NewTemplateValue:
      type: object
      required:
      - rel
      - field
      - value
      properties:
        rel:
          type: string
        field:
          type: string
        value:
          type: string
    Error:
      type: object
      required:
      - errorType
      - message
      properties:
        errorType:
          type: string
        message:
          type: string
        errorId:
          type: string
    Template:
      type: object
      required:
      - id
      - name
      - schemaName
      properties:
        id:
          $ref: '#/components/schemas/TemplateId'
        name:
          type: string
        schemaName:
          type: string
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
