openapi: 3.0.0
info:
  title: Authentication Admin Schedule summaries API
  description: Skedulo Authentication API
  version: 1.0.0
servers:
- url: https://api.skedulo.com/auth
- url: https://api.uk.skedulo.com/auth
- url: https://api.ca.skedulo.com/auth
- url: https://api.au.skedulo.com/auth
tags:
- name: Schedule summaries
paths:
  /schedules:
    get:
      summary: Recurring schedules summaries
      description: Get a list of recurring schedules summaries
      tags:
      - Schedule summaries
      operationId: listRecurringSchedules
      parameters:
      - name: page
        in: query
        description: Page number to fetch. Defaults to 1 if not provided.
        schema:
          type: number
      - name: per_page
        in: query
        description: Number of items to fetch per page. Defaults to 20 if not provided. Maximum allowed is 50.
        schema:
          type: number
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                required:
                - result
                properties:
                  result:
                    description: List of recurring schedule summaries
                    type: object
                    required:
                    - currentPage
                    - numPages
                    - totalCount
                    - scheduleSummaries
                    properties:
                      currentPage:
                        type: number
                        description: Current page. Starts from 1
                      numPages:
                        type: number
                        description: Total number of pages
                      totalCount:
                        type: number
                        description: Total number of recurring schedules
                      scheduleSummaries:
                        type: array
                        items:
                          $ref: '#/components/schemas/RecurringScheduleSummary'
  /schedules/{id}:
    get:
      summary: Summary of a recurring schedule
      description: Get summary of a recurring schedule
      tags:
      - Schedule summaries
      operationId: getSingleRecurringSchedules
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                required:
                - result
                properties:
                  result:
                    $ref: '#/components/schemas/DetailedRecurringSchedulesSummary'
        '404':
          description: Recurring schedule with given ID cannot be found
components:
  schemas:
    DetailedRecurringSchedulesSummary:
      description: Detailed summary of a recurring schedule, containing information about the jobs in this schedule. Cancelled job are excluded.
      allOf:
      - $ref: '#/components/schemas/RecurringScheduleSummary'
      - properties:
          jobs:
            type: array
            items:
              $ref: '#/components/schemas/DetailedJob'
          nextJob:
            type: string
            description: ID of the next job
        required:
        - jobs
    DetailedJob:
      type: object
      properties:
        UID:
          type: string
        status:
          type: string
          enum:
          - Queued
          - Pending Allocation
          - Pending Dispatch
          - Dispatched
          - Ready
          - En Route
          - On Site
          - In Progress
          - Complete
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        account:
          type: object
          properties:
            UID:
              type: string
            name:
              type: string
          required:
          - UID
          - name
        contact:
          type: object
          properties:
            UID:
              type: string
            fullName:
              type: string
            phone:
              type: string
            email:
              type: string
          required:
          - UID
          - fullName
        region:
          type: object
          properties:
            UID:
              type: string
            name:
              type: string
          required:
          - UID
          - name
      required:
      - UID
      - status
      - region
    RecurringScheduleSummary:
      type: object
      required:
      - id
      - name
      - completedJobCount
      - allJobCount
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        completedJobCount:
          type: number
          description: Number of jobs in this recurring schedule that have been completed.
        allJobCount:
          type: number
          description: Total number of jobs in this recurring schedule (excluding cancelled jobs).
        summary:
          type: string
        accountId:
          type: string
          description: Account ID assigned to jobs of this recurring schedule. Note that this is obtained from the first job that has an Account ID.
        contactId:
          type: string
          description: Contact ID assigned to jobs of this recurring schedule. Note that this is obtained from the first job that has a Contact ID.
        start:
          type: string
          format: date-time
          description: First occurence of this recurring schedule (first job)
        end:
          type: string
          format: date-time
          description: Last occurence of this recurring schedule (last job)
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
