openapi: 3.0.0
info:
  title: Authentication Admin Place API
  description: Skedulo Authentication API
  version: 1.0.0
servers:
- url: https://api.skedulo.com/auth
- url: https://api.uk.skedulo.com/auth
- url: https://api.ca.skedulo.com/auth
- url: https://api.au.skedulo.com/auth
tags:
- name: Place
paths:
  /place:
    post:
      security:
      - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceDetailRequest'
        required: true
      summary: Fetch Place Detail
      description: For a given place Id, return the detailed information for that place.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceDetailResponse'
        '400':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Place
components:
  schemas:
    LatLng:
      type: object
      required:
      - lat
      - lng
      properties:
        lat:
          description: -90 <= y <= 90
          type: number
        lng:
          description: -180 <= x <= 180
          type: number
    PlaceDetailRequest:
      type: object
      required:
      - placeId
      - sessionId
      properties:
        placeId:
          type: string
          description: Unique id for a place in Google system, obtained from autocomplete endpoint.
        sessionId:
          type: string
          format: uuid
          description: A caller-generated uuid that may have been used in an autocomplete session.
    PlaceDetailResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/PlaceDetail'
    PlaceDetail:
      type: object
      required:
      - addressComponents
      - formattedAddress
      - geometry
      properties:
        addressComponents:
          $ref: '#/components/schemas/AddressComponents'
        formattedAddress:
          type: string
        geometry:
          $ref: '#/components/schemas/LatLng'
    Error:
      type: object
      required:
      - errorType
      - message
      properties:
        errorType:
          type: string
        message:
          type: string
    AddressComponents:
      type: object
      properties:
        streetNumber:
          type: string
        route:
          type: string
        locality:
          type: string
        area2:
          type: string
        area1:
          type: string
        country:
          type: string
        postalCode:
          type: string
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
