openapi: 3.0.0
info:
  title: Authentication Admin Config API
  description: Skedulo Authentication API
  version: 1.0.0
servers:
- url: https://api.skedulo.com/auth
- url: https://api.uk.skedulo.com/auth
- url: https://api.ca.skedulo.com/auth
- url: https://api.au.skedulo.com/auth
tags:
- name: Config
paths:
  /config/team/mobile/v3:
    get:
      summary: Return mobile v3 authentication configuration for a team.
      operationId: configTeamMobileV3
      parameters:
      - name: name
        in: query
        description: Lookup a specific mobile v3 config for a team given its name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOKTeamConfig'
        '400':
          description: If no team with the given name exists
      tags:
      - Config
  /config/team/web/user:
    get:
      summary: Return web authentication configuration for the team the current user belongs to.
      operationId: configTeamWebUser
      responses:
        '200':
          description: Successful result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOKTeamConfig'
        '401':
          description: If the current user's token is not valid
        '412':
          description: If the current user does not belong to a team
      tags:
      - Config
  /config/team/mobile/user:
    get:
      summary: Return mobile authentication configuration for the team the current user belongs to.
      operationId: configTeamMobileUser
      responses:
        '200':
          description: Successful result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOKTeamConfig'
        '401':
          description: If the current user's token is not valid
        '412':
          description: If the current user does not belong to a team
      tags:
      - Config
  /config/team/mobile/v3/user:
    get:
      summary: Return mobile v3 authentication configuration for the team the current user belongs to.
      operationId: configTeamMobileV3User
      responses:
        '200':
          description: Successful result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOKTeamConfig'
        '401':
          description: If the current user's token is not valid
        '412':
          description: If the current user does not belong to a team
      tags:
      - Config
  /config/layout/{object}:
    get:
      security:
      - Authorization: []
      summary: Default layout for an object
      description: Returns the default layout for the given object.
      operationId: layoutObjectDefault
      parameters:
      - name: object
        in: path
        description: the name of the object
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - result
                properties:
                  result:
                    type: object
                    required:
                    - object
                    - layout
                    properties:
                      object:
                        type: string
                      layout:
                        $ref: '#/components/schemas/Layout'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Config
components:
  schemas:
    LayoutRelatedDataRelatedObjectField:
      required:
      - fieldName
      properties:
        fieldName:
          type: string
    TeamConfigAuth0Lock:
      type: object
      required:
      - allowedConnections
      - theme
      properties:
        allowedConnections:
          type: array
          items:
            type: string
        theme:
          type: object
          required:
          - authButtons
          properties:
            authButtons:
              type: object
              additionalProperties:
                type: object
                required:
                - authButtons
                properties:
                  displayName:
                    type: string
    ResultOKTeamConfig:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/TeamConfig'
    LayoutRelatedData:
      oneOf:
      - $ref: '#/components/schemas/LayoutRelatedDataRelatedObject'
      discriminator:
        propertyName: type
        mapping:
          relatedObjects: '#/components/schemas/LayoutRelatedDataRelatedObject'
    TeamConfig:
      type: object
      required:
      - region
      - team
      - auth0
      - server
      - newCustomerModel
      properties:
        region:
          type: string
        team:
          type: object
          required:
          - name
          properties:
            name:
              type: string
            tenantId:
              type: string
              description: The tenant id that belongs to the team. Only returned for a Skedulo cloned team.
        auth0:
          $ref: '#/components/schemas/TeamConfigAuth0'
        server:
          type: object
          required:
          - api
          - uiPlatform
          properties:
            api:
              type: string
            uiPlatform:
              type: string
        newCustomerModel:
          type: boolean
    TeamConfigAuth0:
      type: object
      required:
      - clientId
      - audience
      - domain
      - lock
      properties:
        clientId:
          type: string
        audience:
          type: string
        domain:
          type: string
        lock:
          $ref: '#/components/schemas/TeamConfigAuth0Lock'
    Layout:
      type: object
      required:
      - relatedData
      properties:
        relatedData:
          type: array
          items:
            $ref: '#/components/schemas/LayoutRelatedData'
    LayoutRelatedDataRelatedObject:
      required:
      - type
      - object
      properties:
        type:
          type: string
          enum:
          - relatedObjects
        reference:
          type: string
        object:
          type: string
        label:
          type: string
        listFields:
          type: array
          items:
            $ref: '#/components/schemas/LayoutRelatedDataRelatedObjectField'
    Error:
      type: object
      required:
      - errorType
      - message
      properties:
        errorType:
          type: string
        message:
          type: string
        errorId:
          type: string
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
