openapi: 3.0.0
info:
  title: Authentication Admin Autocomplete API
  description: Skedulo Authentication API
  version: 1.0.0
servers:
- url: https://api.skedulo.com/auth
- url: https://api.uk.skedulo.com/auth
- url: https://api.ca.skedulo.com/auth
- url: https://api.au.skedulo.com/auth
tags:
- name: Autocomplete
paths:
  /autocomplete:
    post:
      security:
      - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoCompleteRequest'
        required: true
      summary: Address Autocomplete
      description: For a given input string, return a list of address suggestions, or error.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoCompleteResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Autocomplete
components:
  schemas:
    AutoCompletePrediction:
      type: object
      required:
      - description
      - placeId
      properties:
        description:
          type: string
        placeId:
          type: string
          description: Unique id for the suggested place, to be used with fetch place endpoint.
    AutoCompleteResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/AutoCompleteResult'
    AutoCompleteResult:
      type: object
      required:
      - predictions
      - status
      properties:
        predictions:
          type: array
          items:
            $ref: '#/components/schemas/AutoCompletePrediction'
        status:
          type: string
          enum:
          - OK
          - ZERO_RESULTS
        errorMessage:
          type: string
    AutoCompleteRequest:
      type: object
      required:
      - input
      - sessionId
      properties:
        input:
          type: string
        sessionId:
          type: string
          format: uuid
          description: A caller-generated uuid to signify a session, which consists of multiple autocomplete requests and ends with a place fetch request. A different session should use a different sessionId
        location:
          $ref: '#/components/schemas/LatLng'
        radius:
          type: number
          description: Defines the distance (in meters) within which to return place results. You may bias results to a specified circle by passing a location and a radius parameter.
        country:
          type: string
          description: A two character, ISO 3166-1 Alpha-2 compatible country code
    Error:
      type: object
      required:
      - errorType
      - message
      properties:
        errorType:
          type: string
        message:
          type: string
    LatLng:
      type: object
      required:
      - lat
      - lng
      properties:
        lat:
          description: -90 <= y <= 90
          type: number
        lng:
          description: -180 <= x <= 180
          type: number
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
