openapi: 3.0.0
info:
  title: Authentication Admin Meetings API
  description: Skedulo Authentication API
  version: 1.0.0
servers:
- url: https://api.skedulo.com/auth
- url: https://api.uk.skedulo.com/auth
- url: https://api.ca.skedulo.com/auth
- url: https://api.au.skedulo.com/auth
tags:
- name: Meetings
paths:
  /meetings:
    post:
      operationId: createMeeting
      summary: Create a virtual meeting hosted by a resource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeetingRequest'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingResponse'
        '400':
          description: The hosting resource has no email specified
      tags:
      - Meetings
  /meetings/{id}:
    get:
      operationId: getMeeting
      summary: Fetch information of the virtual meeting specified by the id
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          description: Id of the virtual meeting to be fetched
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingResponse'
      tags:
      - Meetings
    put:
      operationId: updateMeeting
      summary: Update the virtual meeting specified by the id
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          description: Id of the virtual meeting to be updated
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseMeetingRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingResponse'
      tags:
      - Meetings
    delete:
      operationId: deleteMeeting
      summary: Delete the virtual meeting specified by the id
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          description: Id of the virtual meeting to be deleted
      responses:
        '204':
          description: Success
      tags:
      - Meetings
components:
  schemas:
    CreateMeetingRequest:
      allOf:
      - $ref: '#/components/schemas/BaseMeetingRequest'
      - type: object
        properties:
          hostResourceId:
            type: string
            description: Resource Id of the resource that hosts the virtual meeting
        required:
        - hostResourceId
    BaseMeetingRequest:
      type: object
      properties:
        topic:
          type: string
          description: Topic of the virtual meeting
        agenda:
          type: string
          description: Agenda of the virtual meeting
        startTime:
          type: string
          format: date-time
          description: Start time of the virtual meeting in ISO8601 format
        duration:
          type: integer
          description: Duration (in minutes) of the virtual meeting
        password:
          type: string
          description: Password of the virtual meeting
        zoom:
          type: object
          description: Optional Zoom specific information about the virtual meeting (when Zoom is the meeting provider). Most Zoom meetings can be created without this.
        teams:
          type: object
          description: Optional MS Teams specific information about the virtual meeting (when Teams is the meeting provider). Most Teams meetings can be created without this.
      required:
      - topic
      - agenda
      - startTime
      - duration
    MeetingResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            hostUrl:
              type: string
              format: uri
              description: URL for the host to join and start the meeting
            inviteeUrl:
              type: string
              format: uri
              description: URL for an invitee to join the meeting
            id:
              type: string
              description: Unique Id of the virtual meeting
            password:
              type: string
              description: Password of the virtual meeting
            zoom:
              type: object
              description: Zoom specific information about the virtual meeting (when Zoom is the meeting provider)
            teams:
              type: object
              description: MS Teams specific information about the virtual meeting (when Teams is the meeting provider)
          required:
          - hostUrl
          - inviteeUrl
          - id
      required:
      - result
      example: "{\n  \"result\": {\n    \"hostUrl\": \"https://skedulo.zoom.us/s/96228647552?zak=eyJ6bV9za20iOiJ6bV9vMm0iLCJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJjbGllbnQiLCJ1aWQiOiJiSVFNaF8tclJTVzZXNDRzQlJBb193IiwiaXNzIjoid2ViIiwic3R5IjoxLCJ3Y2QiOiJhdzEiLCJjbHQiOjAsInN0ayI6IkZiaXM4blNHeENCdlFtMGJGRXJYS25Mb2o1QXR4cmtDSVlBbkFaVlFWaVUuRWdJQUFBRnlCMThQNEFBQUhDQWdiblJHVFdObmRtVlRRMjlUUWpCMlZtSjFlREJGUjBWdlFrZEZOMmwwTjBjQURETkRRa0YxYjJsWlV6TnpQUU5oZHpFIiwiZXhwIjoxNTg5MjY4NzcwLCJpYXQiOjE1ODkyNjE1NzAsImFpZCI6Im9RRjJ6SVQtUV9DLTRGZy1mZ2RQQXciLCJjaWQiOiIifQ.qWPMxnBqCTn-HYryCE1begsYzZEAJOAb-_MyW3q-mRI\",\n    \"inviteeUrl\": \"https://skedulo.zoom.us/j/96228647552\",\n    \"id\": \"Zoom:96228647552\",\n    \"zoom\": {\n      \"uuid\": \"OI/WyUesTYi7WQUG/GN1AQ==\",\n      \"id\": 96228647552,\n      \"host_id\": \"bIQMh_-rRSW6W44sBRAo_w\",\n      \"topic\": \"Skedulo Consultation\",\n      \"type\": 2,\n      \"status\": \"waiting\",\n      \"start_time\": \"2020-04-27T13:30:00Z\",\n      \"duration\": 1,\n      \"timezone\": \"Australia/Sydney\",\n      \"agenda\": \"[JOB-0006] Consultation with Skedulo Admin\",\n      \"created_at\": \"2020-05-12T05:32:49Z\",\n      \"start_url\": \"https://skedulo.zoom.us/s/96228647552?zak=eyJ6bV9za20iOiJ6bV9vMm0iLCJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJjbGllbnQiLCJ1aWQiOiJiSVFNaF8tclJTVzZXNDRzQlJBb193IiwiaXNzIjoid2ViIiwic3R5IjoxLCJ3Y2QiOiJhdzEiLCJjbHQiOjAsInN0ayI6IkZiaXM4blNHeENCdlFtMGJGRXJYS25Mb2o1QXR4cmtDSVlBbkFaVlFWaVUuRWdJQUFBRnlCMThQNEFBQUhDQWdiblJHVFdObmRtVlRRMjlUUWpCMlZtSjFlREJGUjBWdlFrZEZOMmwwTjBjQURETkRRa0YxYjJsWlV6TnpQUU5oZHpFIiwiZXhwIjoxNTg5MjY4NzcwLCJpYXQiOjE1ODkyNjE1NzAsImFpZCI6Im9RRjJ6SVQtUV9DLTRGZy1mZ2RQQXciLCJjaWQiOiIifQ.qWPMxnBqCTn-HYryCE1begsYzZEAJOAb-_MyW3q-mRI\",\n      \"join_url\": \"https://skedulo.zoom.us/j/96228647552\",\n      \"settings\": {\n        \"host_video\": false,\n        \"participant_video\": false,\n        \"cn_meeting\": false,\n        \"in_meeting\": false,\n        \"join_before_host\": true,\n        \"mute_upon_entry\": false,\n        \"watermark\": false,\n        \"use_pmi\": false,\n        \"approval_type\": 2,\n        \"audio\": \"both\",\n        \"auto_recording\": \"none\",\n        \"enforce_login\": false,\n        \"enforce_login_domains\": \"\",\n        \"alternative_hosts\": \"\",\n        \"close_registration\": false,\n        \"registrants_confirmation_email\": true,\n        \"waiting_room\": false,\n        \"global_dial_in_countries\": [\n          \"AU\",\n          \"GB\",\n          \"NZ\",\n          \"US\",\n          \"CA\"\n        ],\n        \"global_dial_in_numbers\": [\n          {\n            \"country_name\": \"US\",\n            \"city\": \"Houston\",\n            \"number\": \"+1 3462487799\",\n            \"type\": \"toll\",\n            \"country\": \"US\"\n          },\n          {\n            \"country_name\": \"US\",\n            \"city\": \"San Jose\",\n            \"number\": \"+1 6699006833\",\n            \"type\": \"toll\",\n            \"country\": \"US\"\n          },\n          {\n            \"country_name\": \"US\",\n            \"city\": \"Tacoma\",\n            \"number\": \"+1 2532158782\",\n            \"type\": \"toll\",\n            \"country\": \"US\"\n          },\n          {\n            \"country_name\": \"US\",\n            \"city\": \"Chicago\",\n            \"number\": \"+1 3126266799\",\n            \"type\": \"toll\",\n            \"country\": \"US\"\n          },\n          {\n            \"country_name\": \"US\",\n            \"city\": \"New York\",\n            \"number\": \"+1 6465588656\",\n            \"type\": \"toll\",\n            \"country\": \"US\"\n          },\n          {\n            \"country_name\": \"US\",\n            \"city\": \"Germantown\",\n            \"number\": \"+1 3017158592\",\n            \"type\": \"toll\",\n            \"country\": \"US\"\n          },\n          {\n            \"country_name\": \"US\",\n            \"city\": \"\",\n            \"number\": \"+1 8773690926\",\n            \"type\": \"tollfree\",\n            \"country\": \"US\"\n          },\n          {\n            \"country_name\": \"US\",\n            \"city\": \"\",\n            \"number\": \"+1 8778535247\",\n            \"type\": \"tollfree\",\n            \"country\": \"US\"\n          },\n          {\n            \"country_name\": \"Australia\",\n            \"number\": \"+61 861193900\",\n            \"type\": \"toll\",\n            \"country\": \"AU\"\n          },\n          {\n            \"country_name\": \"Australia\",\n            \"number\": \"+61 871501149\",\n            \"type\": \"toll\",\n            \"country\": \"AU\"\n          },\n          {\n            \"country_name\": \"Australia\",\n            \"number\": \"+61 280156011\",\n            \"type\": \"toll\",\n            \"country\": \"AU\"\n          },\n          {\n            \"country_name\": \"Australia\",\n            \"number\": \"+61 370182005\",\n            \"type\": \"toll\",\n            \"country\": \"AU\"\n          },\n          {\n            \"country_name\": \"Australia\",\n            \"number\": \"+61 731853730\",\n            \"type\": \"toll\",\n            \"country\": \"AU\"\n          },\n          {\n            \"country_name\": \"Australia\",\n            \"number\": \"+61 1800893423\",\n            \"type\": \"tollfree\",\n            \"country\": \"AU\"\n          },\n          {\n            \"country_name\": \"New Zealand\",\n            \"number\": \"+64 48860026\",\n            \"type\": \"toll\",\n            \"country\": \"NZ\"\n          },\n          {\n            \"country_name\": \"New Zealand\",\n            \"number\": \"+64 98846780\",\n            \"type\": \"toll\",\n            \"country\": \"NZ\"\n          },\n          {\n            \"country_name\": \"New Zealand\",\n            \"number\": \"+64 800002260\",\n            \"type\": \"tollfree\",\n            \"country\": \"NZ\"\n          },\n          {\n            \"country_name\": \"United Kingdom\",\n            \"number\": \"+44 2080806592\",\n            \"type\": \"toll\",\n            \"country\": \"GB\"\n          },\n          {\n            \"country_name\": \"United Kingdom\",\n            \"number\": \"+44 3300885830\",\n            \"type\": \"toll\",\n            \"country\": \"GB\"\n          },\n          {\n            \"country_name\": \"United Kingdom\",\n            \"number\": \"+44 1314601196\",\n            \"type\": \"toll\",\n            \"country\": \"GB\"\n          },\n          {\n            \"country_name\": \"United Kingdom\",\n            \"number\": \"+44 2034815237\",\n            \"type\": \"toll\",\n            \"country\": \"GB\"\n          },\n          {\n            \"country_name\": \"United Kingdom\",\n            \"number\": \"+44 2034815240\",\n            \"type\": \"toll\",\n            \"country\": \"GB\"\n          },\n          {\n            \"country_name\": \"United Kingdom\",\n            \"number\": \"+44 2080806591\",\n            \"type\": \"toll\",\n            \"country\": \"GB\"\n          },\n          {\n            \"country_name\": \"United Kingdom\",\n            \"number\": \"+44 8000315717\",\n            \"type\": \"tollfree\",\n            \"country\": \"GB\"\n          },\n          {\n            \"country_name\": \"Canada\",\n            \"number\": \"+1 6475580588\",\n            \"type\": \"toll\",\n            \"country\": \"CA\"\n          },\n          {\n            \"country_name\": \"Canada\",\n            \"number\": \"+1 7789072071\",\n            \"type\": \"toll\",\n            \"country\": \"CA\"\n          },\n          {\n            \"country_name\": \"Canada\",\n            \"number\": \"+1 4388097799\",\n            \"type\": \"toll\",\n            \"country\": \"CA\"\n          },\n          {\n            \"country_name\": \"Canada\",\n            \"number\": \"+1 5873281099\",\n            \"type\": \"toll\",\n            \"country\": \"CA\"\n          },\n          {\n            \"country_name\": \"Canada\",\n            \"number\": \"+1 6473744685\",\n            \"type\": \"toll\",\n            \"country\": \"CA\"\n          },\n          {\n            \"country_name\": \"Canada\",\n            \"number\": \"+1 8557038985\",\n            \"type\": \"tollfree\",\n            \"country\": \"CA\"\n          }\n        ],\n        \"registrants_email_notification\": true,\n        \"meeting_authentication\": false\n      }\n    }\n  }\n}\n"
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
