openapi: 3.0.0
info:
  title: Authentication Admin Subscriptions API
  description: Skedulo Authentication API
  version: 1.0.0
servers:
- url: https://api.skedulo.com/auth
- url: https://api.uk.skedulo.com/auth
- url: https://api.ca.skedulo.com/auth
- url: https://api.au.skedulo.com/auth
tags:
- name: Subscriptions
paths:
  /subscriptions:
    get:
      security:
      - Authorization: []
      summary: GraphQL Subscriptions
      description: Sets up a GraphQL subscription. Supports the `subscriptions-transport-ws` protocol. A Keep Alive message will be sent every 25 seconds. The 'Sec-WebSocket-Protocol' header must be set to 'graphql-ws'.
      operationId: graphqlSubscriptions
      responses:
        '101':
          description: WebSocket connection succeeded
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GraphQLResult'
        '400':
          description: If the wrong protocol was used, or the request was malformed.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GraphQLResult'
        default:
          description: Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Subscriptions
components:
  schemas:
    Error:
      type: object
      required:
      - errorType
      - message
      properties:
        errorType:
          type: string
        message:
          type: string
        errorId:
          type: string
    GraphQLError:
      type: object
      description: errors
      properties:
        message:
          type: string
          description: Error message.
        location:
          type: object
          properties:
            line:
              type: string
              description: Line Number
            column:
              type: string
              description: Column number
    GraphQLResult:
      type: object
      properties:
        data:
          type: object
          description: Query or mutation result.
          additionalProperties: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLError'
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
