openapi: 3.0.0
info:
  title: Authentication Admin Limits API
  description: Skedulo Authentication API
  version: 1.0.0
servers:
- url: https://api.skedulo.com/auth
- url: https://api.uk.skedulo.com/auth
- url: https://api.ca.skedulo.com/auth
- url: https://api.au.skedulo.com/auth
tags:
- name: Limits
paths:
  /limits:
    get:
      summary: Get the limits for the tenant
      description: Returns the operational limits configured for the authenticated tenant, such as maximum number of jobs or resources that can be included in a single optimization run.
      operationId: Get Limits
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - result
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/LimitsDto'
      security:
      - httpAuth: []
      tags:
      - Limits
components:
  schemas:
    LimitsDto:
      required:
      - scope
      type: object
      properties:
        scope:
          $ref: '#/components/schemas/LimitsScopeDto'
    LimitsScopeDto:
      required:
      - jobs
      - resources
      type: object
      properties:
        jobs:
          type: integer
          description: Maximum number of jobs allowed in scope for any given run
          format: int32
        resources:
          type: integer
          description: Maximum number of resources allowed in scope for any given run
          format: int32
      description: Limits that apply to the scope of a run
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
