openapi: 3.0.0
info:
  title: GraphQL
  description: GraphQL endpoints
  version: 1.0.0
paths:
  /graphql:
    post:
      security:
        - Authorization: []
      summary: GraphQL queries and mutations
      description: >-
        Run queries and mutations against business data.


        Queries and mutations are `POST` operations with a GraphQL payload that
        defines the shape of the query or mutation to be made against the data
        schema, including custom objects and fields. A mutation with multiple
        operations is executed as an atomic transaction: either all operations
        succeed or none succeed.


        If you perform large-scale data mutations (e.g., importing or updating
        thousands of jobs over a short period of time), you **must** set the
        `X-Skedulo-Bulk-Operation` HTTP header value to `true` to protect the
        system.
      operationId: graphql
      responses:
        '200':
          description: Query or Mutation result was returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQLResult'
        '400':
          description: >-
            Query or Mutation failed, an error is returned.  The `data` property
            will be null in this case.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQLResult'
        '401':
          description: Authentication/Authorization failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /graphql/batch:
    post:
      security:
        - Authorization: []
      summary: Make batch queries and mutations using GraphQL.
      description: >-
        GraphQL batching involves sending multiple queries or mutations to the
        server in a single request. This reduces the number of server round
        trips to fetch data, which makes interaction more efficient. 


        See https://blog.apollographql.com/query-batching-in-apollo-63acfd859862
        for more information
      operationId: graphqlBatch
      responses:
        '200':
          description: An array of Query or Mutation results corresponding to the input
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GraphQLResult'
        '401':
          description: Authentication/Authorization failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions:
    get:
      security:
        - Authorization: []
      summary: GraphQL Subscriptions
      description: >-
        Sets up a GraphQL subscription. Supports the
        `subscriptions-transport-ws` protocol. A Keep Alive message will be sent
        every 25 seconds. The 'Sec-WebSocket-Protocol' header must be set to
        'graphql-ws'.
      operationId: graphqlSubscriptions
      responses:
        '101':
          description: WebSocket connection succeeded
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GraphQLResult'
        '400':
          description: If the wrong protocol was used, or the request was malformed.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GraphQLResult'
        default:
          description: Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
  /schema:
    get:
      security:
        - Authorization: []
      summary: Skedulo GraphQL schema
      description: 'Retrieve the Skedulo GraphQL schema. '
      operationId: graphqlSchema
      responses:
        '200':
          description: Schema was returned
        '401':
          description: Authentication/Authorization failed
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Error
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/Error'
servers:
  - url: https://api.skedulo.com/graphql
  - url: https://api.uk.skedulo.com/graphql
  - url: https://api.ca.skedulo.com/graphql
  - url: https://api.au.skedulo.com/graphql
components:
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    GraphQLResult:
      type: object
      properties:
        data:
          type: object
          description: Query or mutation result.
          additionalProperties: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLError'
    GraphQLError:
      type: object
      description: errors
      properties:
        message:
          type: string
          description: Error message.
        location:
          type: object
          properties:
            line:
              type: string
              description: Line Number
            column:
              type: string
              description: Column number
    Error:
      type: object
      required:
        - errorType
        - message
      properties:
        errorType:
          type: string
        message:
          type: string
        errorId:
          type: string
